<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Welcome to Pokemon</h1>
        <nav>
            <a href="/players/signup">Sign up</a> 
            <a href="/players/login">Log in</a>

        </nav>
    </body>
</html>