<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Pokemon show page</h1>
        The Pokemon's name is <%= poke.name %> 
        and looks like this
        <br/>
        <img src=<%=poke.img%> ><img/>
        <br/>
        It is added by 
        <% for(let i=0; i<poke.Players.length; i++) {%>
            <li>
            <%=poke.Players[i].name%>
            </li>
            <br>
            <% } %>
            
    </body>
</html>    