<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <h1>Edit Pokemon</h1>
        <form action="/pokemon/<%=characterIndex%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=character.name%>" />
            Image: <input type="text" name="img" value="<%=character.img%>" />
            <input type="submit" value="Edit" />
        </form>
    </body>
</html>