<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Fruits App</h1>
    <nav>
        <a href="/player/signup">Sign Up</a>
        <a href="/player/login">Log In</a>
    </nav>
</body>
</html>